RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([\~a-zA-Z0-9]*)\/?$ /~mkossikana/GestionnaireDeParking/index.php?p=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9]*)\/([0-9]{1,4})\/?$ /~mkossikana/GestionnaireDeParking/index.php?p=$1&id=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9]*)\/([0-9]{1,4})\/([a-zA-Z]*)?$ /~mkossikana/GestionnaireDeParking/index.php?p=$1&id=$2&action=$3 [QSA,L]
