.content{
    width: 80%;
    margin: 0 auto;
    display:table;
    padding-bottom: 15px;
    text-align: center;
}

.content_title{
    border: 0.1em solid #DBDBDB;
    padding: 1.2em;
    background-color: white;
    width: 100%;
    margin-bottom: 3vw;
    margin: 0 auto;
    display:inline-block;
}

.center{
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

.titre_page1{
    color: #46A087;
    transition: color 0.2s ease-out;
    font-size: 3vw;
    display: inline-block;
    float: left;
    text-align: start;
}

.titre_page2{
    color:black;
    transition: color 0.2s ease-out;
    padding-top: 1vw;
    font-size: 2vw;
    cursor: pointer;
    text-transform: uppercase;
    text-align: end;
    display: inline-block;
    float: right;
}

.clear{ clear: both; }

.titre_page2:hover{
    color: #46A087;
    text-decoration: underline;
}

.div_photo{
    vertical-align: middle;
    display: inline-block;
    margin-left: 8vw;
}

.photo{
    width: 20vw;
    height: 20vw;
    border-radius: 9vw;
    transition : box-shadow 0.3s;
}

.photo:hover{
    box-shadow: 0 0 20px #46A087;
}

.text_image{
    vertical-align: middle;
    display: inline-block;
    margin-left: 4vw;
}

.nom{
    font-size: 4vw;
    color: #46A087;
}

.pseudo{
    font-size: 2vw;
    text-align: center;
    transition: 0.3s;
}

.pseudo:hover{
    cursor: pointer;
    color: #46A087;
}

.modifie{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    color: black;
    padding: 0.6vw;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.modifie:hover{
    box-shadow: 0 0 2px rgba(0,0,0, 0.5);
    background-color: #FAFAFA;
    color:#46A087;
}

.desc{
    font-size: 1.5vw;
    border: 0.1em solid #DBDBDB;
    padding: 1.2em;
    margin-top: 2vw;
    background-color: white;
}

.desc::first-letter, .content_msg::first-letter{
    font-family: 'Billabong'!important;
    color: #46A087;
    font-size: 2vw;
}

.element_desc{
    width: 19%;
    display: inline-block;
    color: #46A087;
    text-align: center;
    padding: 1vw;
}

.element_desc_center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #DBDBDB;
    margin-top: 2vw;
    margin-bottom: 1vw;
    background-color: white;
}

a{
    text-decoration: none;
    color: blue;
}
.premium:hover{
    text-decoration: underline;
}


.msg_block{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.msg{
    display:inline-block;
    width: 30%;
    margin: 1vw 1vw;
}

.header_msg {
    border: 1px solid #46A087;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 3em;
    padding: 0 1em;
    line-height: 3em;
    background-color: white;
    font-size: 100%;
}

.header_msg a:hover{
    color: #46A087;
    text-decoration: underline;
    cursor: pointer;
}

.content_msg{
    border-left: 1px solid #46A087;
    border-right: 1px solid #46A087;
    border-bottom: 1px solid #46A087;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1.2em;
    background-color: white;
}

.supp{
    color : grey;
    font-size: 70%;
    float:right;
}

.supp:hover{
    color: red;
    cursor: pointer;
}
